        body {
  background-color: lightyellow;
}
/* the above style changes the background to a light yellow*/
h1 {
  color: #00357f;
  margin-left: 20px;
  border-style: double;width: 60%;border-radius: 10px
  font-size: 90px;
}
.intro { 
  background-color: rgb(103, 164, 197);
}  
        #firstname {
  background-color: lightgreen;
}
        * {
  margin: 1;
}
        summary { 
  font-style: oblique;
        font-weight: 900;
}
       a[target] {
  background-color: lightgrey;
}
       a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: lightblue;
}
       div p {
  background-color: hsla(9, 100%, 64%, 0.5);
}
       aside {
  width: 40%;
  margin-left: 20px;
  float: right;
  font-style: italic;
  background-color: lightblue;  
  border: 5px solid black;
  padding: 5px;
  margin: 20px;
}
