       body {
  background-color: lightyellow;
}

h1 {
  color: navy;
  margin-left: 20px;
}
.intro { 
  background-color: lightblue;
}  
        #firstname {
  background-color: lightgreen;
}
        * {
  margin: 1;
}
        summary { 
  font-style: oblique;
        font-weight: 900;
}
       a[target] {
  background-color: lightgrey;
}
       a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: lightblue;
}
       div p {
  background-color: lightsalmon;
}
