          body {
       font-family: 'Dosis', sans-serif;
  background-color: lightyellow;
  @media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}
}
/* the above style changes the background to a light yellow*/
        
h1 {
       
  color: #00357f;
  margin-left: 20px;
       
  text-align: center
       
  font-size: 40px;
  border-style: double;width: 60%; border-radius: 15px
       
  
}
         h3 {
       position: static;
  text-decoration: underline;
}
.intro { 
  background-color: rgb(103, 164, 197);
}  
        #firstname {
  background-color: lightgreen;
}
        * {
  margin: 1;
}
        summary { 
  font-style: oblique;
        font-weight: 900;
}
       a[target] {
  background-color: lightgrey;
}
       a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: lightblue;
}
       div p {
  background-color: hsla(9, 100%, 64%, 0.5);
}
       li {
  display: inline;
}
       aside {
   position: relative;
  width: 25%;
  margin-left: 20px;
  float: right;
  font-style: italic;
  background-color: lightblue;  
  border: 5px solid black;
  padding: 5px;
  margin: 20px;
}
       .flex-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 120px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}
